extends layouts/main

block content
  div
    button(type="button")#startBtn Start Recording

  if errorMessage
    p=errorMessage

  div
    form(method="POST", enctype="multipart/form-data")
      label(for="video") Video File
      input(type="file", name="video", id="video", accept="video/*", required)
      input(type="text", placeholder="Title", name="title", maxlength=80)
      input(type="text", name="description", placeholder="Description", minlength=20)
      input(type="text", placeholder="hashtags, separated by comma.", name="hashtags")
      input(type="submit", value="Upload Video")

block scripts
  script(src="/static/js/recorder.js")