extends layouts/main

block content
  div
    p=video.description
    span=video.createdAt

  div
    a(href=`${video.id}/edit`) Edit Video &rarr;

  div
    a(href=`${video.id}/delete`) Delete Video &rarr;
